*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}

.container {
    margin: 10% auto;
    width: 50%;
    height: 20%;
  
}


section#profile {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 2% 20%;
    background-color: blueviolet;
    height: 75px;
    

}

section#findsos{


    padding-top: 10%;
    display: flex;
    text-align: center;
    justify-content: center; 
    gap: 2%;
    flex-direction: column;
    background-color: burlywood;
   
}

ul#sosmed{
    display: flex;
    text-align: center;
    justify-content: center; 
    gap: 2%;
    list-style-type: none;
    padding: 25px 20px;
}
ul#sosmed li a{
    text-decoration: none;
    background-color: yellow;
    color: black;
    padding: 15px 20px;
    border-radius: 50%;
    border: 2px solid red;
}






